.contenedor{
    width: 300px;
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-color: gainsboro;
}

header{
    background-color: gray;
}

header h1{
    text-align: center;
    margin: 0px 0px 0px 0px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

section p{
    font-size: 20px;
    text-align: justify;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    background-color: #D3D3D3;
}

footer p{
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}