.contenedor{
    width: 1200px;
    margin: auto;
}

header{
    display: flex;
    background-color: #D9D9D9;
    margin-bottom: 10px;
}

main{
    display: flex;
    margin-bottom: 10px;
}

footer{
    display: flex;
}

.menuCabecera{
    display: flex;
    padding-left: 10px;
}

.menuCabecera li{
    list-style-type: none;
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
}

.micro{
    font-weight: bold;
    margin-right: 40px !important;
}

.inicio{
    font-weight: bold;
    margin-left: 340px;
    margin-right: 0px !important;
}

.centroizquierda{
    width: 600px;
    height: 830px;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url("01.jpg");
}

.centroizquierda h5{
    margin-left: 40px;
    margin-top: 630px;
    margin-bottom: 0px;
    width: 220px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    background-color: #DAA520;
    text-align: center;
}

.centroizquierda h4{
    height: 45px;
    width: 250px;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.centroizquierda h6{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0px;
}

.centroizquierda p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 40px;
    text-decoration: underline;
    margin-top: 5px;
}

.arribaderecha{
    width: 300px;
    height: 410px;
    background-color: #006B0B;
}

.arribaderecha h1{
    font-size: 35px;
    color: white;
    text-align: left;
    padding-left: 20px;
    margin-top: 0px;
    padding-top: 40px;
}

.arribaderecha h5{
    font-size: 15px;
    font-style: normal;
    color: white;
    text-align: left;
    padding-left: 20px;
    font-weight: normal;
}

.centroderecha{
    width: 300px;
    height: 410px;
    margin-right: 10px;
    background-image: url("02.jpg");
}

.abajoderecha{
    background-image: url("03.jpg");
}

.pie{
    width: 1080px;
    background-color: #636363;
    color: white;
    padding-left: 10px;
}

